{% extends 'calculator/base.html' %}
{% block title %}Server Details{%endblock %}

{% block body %}
    <h3>{{ server.server_name }}</h3>
    <h4>Total Space: {{ server.total_space }} GB</h4>

    <table>
        <tr>
            <th>Channel #</th>
            <th>Channel Name</th>
            <th>Avg Bitrate</th>
            <th>Assigned Space(GB)</th>
            <th># of Days</th>
        </tr>
        {% for camera in server.camera_set.all %}
        <tr>
            <td>{{ camera.camera_number }}</td>
            <td>{{ camera.camera_name }}</td>
            <td>{{ camera.avg_bitrate }}</td>
            <td>{{ camera.assigned_space }}</td>
            <td>{{ camera.rec_days }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</body>
</html>